@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
}

div{
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 19, 19);
    border-radius:  0.5vw;
    color: aliceblue;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin: 10px;

}


body{
    display: flex; 
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

p{
    margin: 15px;
    text-align: center;
    font-size: 20px;
}

iframe{
    margin-bottom: 5px;
    width: 50%;
    height: 50%;
}

a {text-decoration: none; /* Remove a decoração de link */
color: inherit; /* Herda a cor do texto do elemento pai */
font-weight: bold; /* Define a fonte em negrito */
}